*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
width:100%;
height:100vh;
font-family: sans-serif;
color: #fff;
position: relative;
}
.container{
    width:70%;
    background-color: rgba(83, 120, 149, 0.4);
    
   
    position: absolute;
    top:15%;
    left:15%;
    
    height: 70vh;
   backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 3px 3px 10px 2px rgba(39, 30, 59, 0.2);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

}
.balls{
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
border-radius:50%;
width: 100px;
height: 100px;

}
 .ball1{
    position:absolute;
    top:23%;
    left:67%;
}
 .ball2{
    position:absolute;
    top:69%;
    left:38%;
}
.ball3{
    position:absolute;
    top:49%;
    left:20%;
    width:70px;
    height:70px;
}

.container p{
    margin-top: 10px;
    font-size:1.5rem;
    text-align:left;
   
  
    
}
 .wave-hand{
    
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      
      @keyframes wave-animation {
          0% { transform: rotate( 0.0deg) }
         10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
         20% { transform: rotate(-8.0deg) }
         30% { transform: rotate(14.0deg) }
         40% { transform: rotate(-4.0deg) }
         50% { transform: rotate(10.0deg) }
         60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
      }
      

.typing-effect{
    font-size:1.5rem;
    border-right: 3px solid white;
    animation: typing 400ms steps(22), blink .5s step-end infinite alternate;
    transition: all .5s ease-out;
    
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  


